@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.app-bg');
  color: theme('colors.text-primary');
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.app-bg');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.border-color');
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.text-secondary');
}